/* Colaborator reel */
.colaborator_section{
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 10px;
}
.main_title{
  color: var(--color-white-text);
  font-weight: 700;
}
.create_colaborator{
  background-color: var(--color-dark-blue);
  color: var(--color-white-text);
  font-size: 20px;
  width: 30px;
  height: 30px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 3px;
  position: relative;
}
.create_colaborator i{
  position: absolute;
  
  top: 7px;
  left:9px;
}

.colaborator_list{
  display: flex;

  gap: 5px;
  list-style: none;
}
.colaborator_picture{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  width: 30px;
  height: 30px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 3px;
}
.colaborator_picture img {
  height: 100%;
  width: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
