@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700;900&display=swap');
:root {
  --primary-color: #4D2DD9;
  --secundary-color: #63E6C3;
  --color-dark-blue: #598AB9;
  --color-white-text: #ffffff;
  --color-gray-text: #DBDBDB;
  --color-dark-brown: #414141;
  --color-light-grey: #EDEDED;
  --color-light-red: #CD6C6980;
  --color-light-blue: #6D949880;
  --color-brown-blue: #9E997080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  /* color: var(--color-white-text); */
  
}
body{
  background: var(--primary-color);
}
/** Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px;
}

.left-elements{
  display: flex;
  justify-content: space-between;
  gap: 7px;
  align-items: flex-end;
}
.bars{
  display: flex;
  justify-content: space-between;
  gap: 3px;
  align-items: flex-end;
}
.home-button{
  color: var(--color-white-text);
  font-size: 23px;
}
.long_bar{
  height: 29.7px;
  width: 5px;
  background-color: white;
  border-radius: 5px;
}
.small_bar{
  height: 24.75px;
  width: 5px;
  background-color: white;
  border-radius: 5px;
}
.profile_icon{
  background-color: var(--color-white-text);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 100px;
}
/* .logo {
  margin: 8px 0px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-white-text);
}
.logo-able {
  font-weight: 700;
  color: #838c90;
} */
/** END header */