
.boards_section{
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.boards_section__titles{
  color: var(--color-white-text);
  font-weight: 800;
  font-size: 24px;
}
.board_grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  list-style: none;
  gap: 12px;
}
.boardItem{
  height: 152px;
  width: 155px;
  background-color: white;
  border-radius: 5px;
  padding: 4px 10px 13px 4px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.board_text{
  color: #DBDBDB;
  font-weight: 800;
  font-size: 30px;
  background-color: transparent;
}


