
.boards_section{
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.boards_section__titles{
  color: var(--color-white-text);
  font-weight: 800;
  font-size: 24px;
}
.board_grid{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  list-style: none;
  gap: 12px;
}
.board_li{
  flex-shrink: 0;
}
.boardItem{
  height: 152px;
  width: 152px;
  
  background-color: white;
  border-radius: 5px;
  padding: 4px 10px 13px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.board_text{
  
  color: #DBDBDB;
  font-weight: 800;
  font-size: 30px;
}


